/* Currency.css

.heading1 {
    margin-top: 40px;
        text-align: center;
        font-size: 24px;
    
        margin-left: 100px;
        color: wheat;
      }
      
      .tag {
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }
      
      .converter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      
      input,
      select,
      button {
        margin: 10px;
        padding: 8px;
        font-size: 16px;
      }
      
      button {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
      }
      
      .result {
        margin-top: 20px;
        font-size: 18px;
        color: white;
      }
       */
       @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    background: #AB47BC
} */
.contact{
    margin-top: 90px;
}

.card {
	color:#fff;
    width: 730px;
    height: 720px;
    border-radius: 10px;
   background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow:  20px 20px 60px #913ca0, 
             -20px -20px 60px #c552d8;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow: inset 20px 20px 60px #913ca0, 
             inset -20px -20px 60px #c552d8;
}
.fa-facebook-official{
    background-color: black;
}

.num{
	
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
   border-radius: 50%;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.fa-google {
    color: #dc4e41
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
	
}
.text1{
    box-shadow: 0px 0px 20px 26px rgba(17, 18, 11, 0.18);
    margin-top: 30px;
    height: 400px;
background-color: #f2dfdd;
box-shadow: -60px 10px 286px 55px rgba(0,0,0,0.52);
-webkit-box-shadow: -60px 10px 286px 55px rgba(0,0,0,0.52);
-moz-box-shadow: -60px 10px 286px 55px rgba(0,0,0,0.52);
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}



.glowing-btn {
    margin-left: 30px;
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
.mt-2 {
    font-size: 5vw;
    text-shadow: 4px 4px 0px #dbae1a;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0
      }
  
      100% {
          opacity: 1;
      }
  }