.invoice-container {
  -webkit-box-shadow:0px 0px 14px 36px rgba(248, 255, 46, 0.9);
  -moz-box-shadow: 0px 0px 14px 36px rgba(255, 255, 46, 0.9);
  box-shadow: 0px 0px 14px 36px rgba(231, 255, 46, 0.9);
  margin-top: 100px;
  border-radius: 10px;
  background-color: aqua;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .tbody{
    background-color: rgb(215, 246, 250);
  }
  
  .recipant,h1,h4,h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .invoice-table th,
  .invoice-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .invoice-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
  }
  
  .button {
    display: block;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .add{
    margin-top: 100px;
  }